<h4>Nama  : Nadifa Salsabila Purnomo</h4>
<h4>Nim   : 2209106044</h4>
<h4>Kelas : Informatika A2 2022</h4>
<h4>POST TEST 4 KECERDASAN BUATAN</h4>

<h4>Import Package</h4>

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

<h4>Deklarasi file CSV</h4>

In [22]:
nana = pd.read_csv('Aemf1.csv')
nana

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,Vienna,715.938574,Weekend,Entire home/apt,False,False,6.0,False,0,1,10.0,100.0,3,0.530181,0.135447,219.402478,15.712158,438.756874,10.604584
41710,Vienna,304.793960,Weekend,Entire home/apt,False,False,2.0,False,0,0,8.0,86.0,1,0.810205,0.100839,204.970121,14.678608,342.182813,8.270427
41711,Vienna,637.168969,Weekend,Entire home/apt,False,False,2.0,False,0,0,10.0,93.0,1,0.994051,0.202539,169.073402,12.107921,282.296424,6.822996
41712,Vienna,301.054157,Weekend,Private room,False,True,2.0,False,0,0,10.0,87.0,1,3.044100,0.287435,109.236574,7.822803,158.563398,3.832416
41713,Vienna,133.230489,Weekend,Private room,False,True,4.0,True,1,0,10.0,93.0,1,1.263932,0.480903,150.450381,10.774264,225.247293,5.444140

<h4>Menampilkan informasi yang ada pada dataset, untuk melihat seberapa banyak objek di dalamnya</h4>

In [4]:
nana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41714 entries, 0 to 41713
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   City                         41714 non-null  object
 1   Price                        41714 non-null  float64
 2   Day                          41714 non-null  object
 3   Room Type                    41714 non-null  object
 4   Shared Room                  41714 non-null  bool
 5   Private Room                 41714 non-null  bool
 6   Person Capacity              41714 non-null  float64
 7   Superhost                    41714 non-null  bool
 8   Multiple Rooms               41714 non-null  int64
 9   Business                     41714 non-null  int64
 10  Cleanliness Rating           41714 non-null  float64
 11  Guest Satisfaction           41714 non-null  float64
 12  Bedrooms                     41714 non-null  int64
 13  City Center (km)             41714 non-null  float64
 14  Metro Distance (km)          41714 non-null  float64
 15  Attraction Index             41714 non-null  float64
 16  Normalised Attraction Index  41714 non-null  float64
 17  Restraunt Index              41714 non-null  float64
 18  Normalised Restraunt Index   41714 non-null  float64
dtypes: bool(3), float64(10), int64(3), object(3)
memory usage: 5.2+ MB

<h4>Membagi dataset menjadi training set dan testing set dengan proporsi 70:30</h4>

In [5]:
x = nana.iloc[:,:-1]
y = nana.iloc[:,-1]

Kelas train test split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [7]:
print ('Dimensi x_train : ',X_train.shape)
print ('Dimensi x_test : ',X_test.shape)
print ('Dimensi y_train : ',y_train.shape)
print ('Dimensi y_test : ',y_test.shape)

Dimensi x_train :  (29199, 18)
Dimensi x_test :  (12515, 18)
Dimensi y_train :  (29199,)
Dimensi y_test :  (12515,)

<h4>Melakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)</h4>

In [8]:
nanaa = pd.read_csv('Aemf1 - Copy.csv')

In [9]:
minmax =MinMaxScaler()

In [10]:
nanaa['Cleanliness Rating'] = minmax.fit_transform(nanaa[['Cleanliness Rating']])

In [11]:
print("Kolom 'Cleanliness Rating' sebelum dilakukan normalisasi : ")
print(nana['Cleanliness Rating'].describe())

Kolom 'Cleanliness Rating' sebelum dilakukan normalisasi :
count    41714.000000
mean         9.442274
std          0.889173
min          2.000000
25%          9.000000
50%         10.000000
75%         10.000000
max         10.000000
Name: Cleanliness Rating, dtype: float64

In [12]:
print("Kolom 'Cleanliness Rating' sesudah dilakukan normalisasi : ")
print(nanaa['Cleanliness Rating'].describe())

Kolom 'Cleanliness Rating' sesudah dilakukan normalisasi :
count    41714.000000
mean         0.930284
std          0.111147
min          0.000000
25%          0.875000
50%          1.000000
75%          1.000000
max          1.000000
Name: Cleanliness Rating, dtype: float64

<h4>Melakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)</h4>

In [13]:
nanaaa = pd.read_csv('Aemf1 - Copy (2).csv')

In [14]:
ss = StandardScaler()

In [15]:
nanaaa['Cleanliness Rating'] = ss.fit_transform(nanaaa[['Cleanliness Rating']])

In [16]:
print("Nilai sebelum deviasi standar: ")
print(np.std(nana['Cleanliness Rating']))
print("Nilai sebelum data scaling: ")
print(nana['Cleanliness Rating'])

Nilai sebelum deviasi standar:
0.8891623821933069
Nilai sebelum data scaling:
0        10.0
1         8.0
2         9.0
3         9.0
4        10.0
         ...
41709    10.0
41710     8.0
41711    10.0
41712    10.0
41713    10.0
Name: Cleanliness Rating, Length: 41714, dtype: float64

In [17]:
print("Nilai sesudah deviasi standar: ")
print(np.std(nanaaa['Cleanliness Rating']))
print("Nilai sesudah data scaling: ")
print(nanaaa['Cleanliness Rating'])

Nilai sesudah deviasi standar:
0.9999999999999998
Nilai sesudah data scaling:
0        0.627249
1       -1.622059
2       -0.497405
3       -0.497405
4        0.627249
           ...
41709    0.627249
41710   -1.622059
41711    0.627249
41712    0.627249
41713    0.627249
Name: Cleanliness Rating, Length: 41714, dtype: float64

<h4>Melakukan data cleaning pada data dengan nilai null dan mengubah nilai null sesusai dengan ketentuan di GCR</h4>

Mengecek apakah terdapat data dengan nilai null ?

In [18]:
nana.isna().sum()

City                           0
Price                          0
Day                            0
Room Type                      0
Shared Room                    0
Private Room                   0
Person Capacity                0
Superhost                      0
Multiple Rooms                 0
Business                       0
Cleanliness Rating             0
Guest Satisfaction             0
Bedrooms                       0
City Center (km)               0
Metro Distance (km)            0
Attraction Index               0
Normalised Attraction Index    0
Restraunt Index                0
Normalised Restraunt Index     0
dtype: int64

Karena tidak ada data dengan nilai null maka kita akan menambah nilai null

In [19]:
nana.loc[0:, 'Person Capacity'] = np.nan #float
nana.loc[0:, 'City'] = np.nan #object
nanaa.loc[0:, 'Bedrooms'] = np.nan #int

Mengganti nilai null pada bilangan desimal dengan mean (float)

In [20]:
mean = nana['Person Capacity'].mean()
nana['Person Capacity'].fillna(mean, inplace=True)

Mengganti nilai null pada kolom teks dengan modus (object)

In [23]:
modus = nana ['City'].mode()[0]
nana['City'].fillna(modus, inplace=True)

Mengganti nilai null pada bilangan bulat dengan median (int)

In [24]:
median = nana['Bedrooms'].median()
nana['Bedrooms'].fillna(median, inplace=True)

<h4>Melakukan data cleaning pada data dengan nilai duplikat</h4>

In [25]:
nana.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41709    False
41710    False
41711    False
41712    False
41713    False
Length: 41714, dtype: bool

In [26]:
nana.iloc[41710,:] = nana.iloc[41711, :]

In [27]:
nana.duplicated().sum()

1

In [28]:
nana.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41709    False
41710    False
41711     True
41712    False
41713    False
Length: 41714, dtype: bool

In [29]:
nana.drop_duplicates(inplace=True)
nana.duplicated().sum()

0

In [30]:
nana.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41708    False
41709    False
41710    False
41712    False
41713    False
Length: 41713, dtype: bool

<h4>Mengganti tipe data salah satu attribute angka</h4>

In [31]:
print("Tipe data kolom 'Bedrooms' sebelum perubahan:")
print(nana['Bedrooms'].dtype)

Tipe data kolom 'Bedrooms' sebelum perubahan:
int64

Kita mengubah tipe data int menjadi float

In [32]:
nana['Bedrooms'] = nana['Bedrooms'].astype(float)
print("\nTipe data kolom 'Bedrooms' sesudah perubahan:")
print(nana['Bedrooms'].dtype)

Tipe data kolom 'Bedrooms' sesudah perubahan:
float64

<h4>Melakukan One Hot Encoding pada dataset</h4>

In [33]:
oneHot = OneHotEncoder(sparse=False)

Tentukan target terlebih dahulu, disini memakai 'Superhost'

In [34]:
nana.Superhost.unique()

array([False,  True])

In [35]:
Superhost = oneHot.fit_transform(nana[['Superhost']])
Superhost = pd.DataFrame(Superhost)

nana['False'] = Superhost[0]
nana['True'] = Superhost[1]

C:\Users\NADIFA SALSABILA\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [36]:
nana.head()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,...,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,False,True
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,...,93.0,1.0,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,1.0,0.0
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,...,85.0,1.0,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,1.0,0.0
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,...,87.0,1.0,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,1.0,0.0
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,...,90.0,2.0,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,1.0,0.0
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,...,98.0,1.0,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,0.0,1.0